/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  background-color: ;
}
body {
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.03rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
nav a {
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: space-around;
}
.main .main-content {
  flex-direction: flex-start;
  align-items: center;
  font-size: 4rem;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid red;
}
.main .main-content p {
  color: rebeccapurple;
  margin: 2rem;
}
.content-one {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 50px;
}
.content-one p {
  font-size: 50px;
}
.introduction {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}
.introduction h2 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}
.introduction h2 .about p {
  text-align: center;
}
.introduction h2 .about p .facts {
  text-align: center;
}
.work-history {
  display: flex;
  justify-content: space-around;
}
.work-history h2 {
  font-size: 3rem;
}
.work-history .jobs {
  flex: 1;
  font-size: 1.5rem;
  margin-left: 3rem;
  padding: 0rem;
}
.work-history .jobs h3 {
  text-decoration: underline;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
}
