/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.box-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-class {
  font-size: 3rem;
  font-family: 'Jim Nightshade', cursive;
  text-align: center;
  text-decoration: underline;
}
html {
  background-color: lightblue;
}
body {
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  font-family: 'Jim Nightshade', cursive;
  font-size: 2rem;
  background-color: gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
nav a {
  text-decoration: none;
  color: rebeccapurple;
}
.main {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 150%;
  }
}
.main .main-content {
  display: flex;
  flex-direction: column;
  font-family: 'Jim Nightshade', cursive;
}
@media (max-width: 500px) {
  .main .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140%;
  }
}
.main .main-content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .main .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
}
.main p {
  color: rebeccapurple;
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  margin-top: 1rem;
}
.main .contact {
  font-size: 1.03rem;
  margin-top: 2rem;
}
.main .contact h3 {
  font-size: 2rem;
}
.main .contact li {
  margin-top: 2rem;
}
.introduction {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  border: 2px solid gray;
  padding: 10px;
  border-top-right-radius: 5rem;
  background-color: gray;
}
@media (max-width: 500px) {
  .introduction {
    width: 100%;
    padding: 2rem;
  }
}
.introduction .about {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .introduction .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 1rem;
  }
}
.introduction .about p {
  font-family: 'Jim Nightshade', cursive;
  font-size: 1.03rem;
  margin-left: 3rem;
}
.introduction h2 {
  font-size: 3rem;
  font-family: 'Jim Nightshade', cursive;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}
.facts {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
  }
}
.facts ul {
  display: flex;
  flex-direction: column;
  font-family: 'Jim Nightshade', cursive;
  font-size: 1.03rem;
  margin-left: 3rem;
  justify-content: center;
  align-items: center;
}
.work-history {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  border: 2px solid gray;
  padding: 10px;
  border-bottom-left-radius: 5rem;
  background-color: gray;
}
@media (max-width: 500px) {
  .work-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
}
.work-history h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'Jim Nightshade', cursive;
  text-decoration: underline;
}
.jobs {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.jobs h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
  font-family: 'Jim Nightshade', cursive;
  color: rebeccapurple;
}
.jobs ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jim Nightshade', cursive;
  margin-top: 1rem;
}
footer {
  display: flex;
  justify-content: center;
  font-family: 'Jim Nightshade', cursive;
  font-size: 1.2rem;
  margin-top: 5rem;
}
